.principal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .example-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 180px;
    
  }
  
  .example-header-image {
    background-image: url('/assets/lol.jpg');
    background-size: cover;
  }

  .cardImg{
    width: 90%;
    
  }

  .cardTitle{
    font-size: 15px;
  }

  .btn{
    background-color: tomato;
    color: white;
    margin: 10px;
}