<div class="contenedor">
    <div class="form">
        <h1>Login</h1>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input [(ngModel)] = "user.email" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input [(ngModel)] = "user.password" matInput>
        </mat-form-field>
        <button (click)="singIn()" mat-raised-button color="warn">Ingresar</button>
    </div>
</div>