<app-toolbar></app-toolbar>
<div class="contenedor">
    <div class="SideBarLeft">

    </div>
    <div class="Principal">
        <div class="crearPublicacion">
            <div class="form">
                <img class="imgProfile" src="assets/lol.jpg" alt="">
                <input type="text"  placeholder="  Agrega una publicación" name="" id="">
            </div>
            <div class="envioForm">
                <button mat-raised-button class="btn">Publicar</button>
            </div>
        </div>

        <div class="Publicacion">
            <div class="infopublicacion">
                <img class="imgProfile" src="assets/lol.jpg" alt="">
                <div class="nombreFecha">
                    <p class="texto nombre">Julian Petersen</p>
                    <p class="texto fecha">Hace 1 hora</p>
                </div> 
            </div>
            <div class="infopublicacion">
                <p class=" texto ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellat maiores reprehenderit nesciunt quibusdam quisquam. Recusandae cupiditate voluptate doloremque distinctio</p>
            </div>
            <div class="imagenPublicacion">
                <img src="assets/Foto1.jpg" alt="">
            </div>
        </div>


    </div>
    <div class="SideBarRigth"></div>
</div>
