<mat-toolbar class="toolbar">
    <span style="cursor: pointer;" [routerLink]="['/home']">My App</span>
    <span class="example-spacer"></span>
        <input class="buscador" placeholder="Buscar" type="text">
    <span class="example-spacer"></span>
    <button mat-icon-button matTooltip="Market Place" [routerLink]="['/marketplace']">
        <mat-icon>shopping_bag</mat-icon>
      </button>
      <button mat-icon-button  matTooltip="Clasificados" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>sell</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Servicios" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>badge</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Guia Comercial" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>menu_book</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Iniciar Sesión</button>
      <button mat-menu-item>Crear cuenta</button>
    </mat-menu>
  </mat-toolbar>
